:root.theme-light {
  --bg-color:#fff1f7;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --subject-text-color: #353430;
  --accent-color: #ff8dcb;
  --button-color: #353430;
  --background-image: url(../images/cover-image-light.png);
}
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --subject-text-color: #353430;
    --accent-color: #ff8dcb;
    --button-color: #353430;
    --background-image: url(../images/cover-image-light.png);
  }
  .decorative__element {
  display: none;
}
  .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}
}

.theme-light .decorative__element {
  display: none;
}
.theme-light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}