.page {
  margin: 0 auto;
  font-family: var(--font, monospace);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 23.4px;
  background-image: var(--background-image);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.header {
  min-block-size: 100vh;
  padding: 20px;
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
}
.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.header__theme-menu-button {
  padding: 0 13px;
  color: var(--button-color);
  text-align: center;
  border: none;
  background: transparent;
}
.header__theme-menu-button_active {
  cursor: none;
  border: 1px solid var(--button-color);
}
.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}
.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
  cursor: pointer;
}
.decorative__element {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--button-color);
  text-align: center;
  padding-right: 8px;
  text-transform: uppercase;
  margin: 20px;
}
.decorative__element::after {
  display: block;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  fill: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}
.frame::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}
.frame::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}
.header__title {
  margin-left: -20px;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}
.title_decoration {
  font-weight: 700;
  background-color: var(--accent-color);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--subject-text-color);
}
.header__text {
  max-inline-size: 491px;
  max-block-size: 71px;
  justify-self: end;
  align-self: center;
}
.question-section-title {
  color: var(--button-color);
  font-weight: 700;
  line-height: 23.4px;
  font-size: var(--font-size);
}
.question-text {
  margin-top: 10px;
  font-size: var(--font-size);
  color: var(--text-color);
}
.question-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}
.question-link:hover {
  border-bottom: 1px solid var(--text-color);
}
.question-link:focus {
  outline: none;
}
.question-link:focus-visible {
  border: 1px solid var(--text-color);
}
.section-of-question-dofamin {
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-start: 60px;
  margin: 0 20px;
}
.question-section-answer-dofamin {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.question-section-answer-dofamin p:first-of-type {
  padding-block-end: 10px;
}
.question-section-eat {
  padding-block-start: 80px;
  padding-block-end: 80px;
  margin: 0 20px;
}
.question-container-eat {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-block-start: 20px;
}
.question-section-title-eat {
  max-inline-size: 315px;
}
.question-section-answer-title-eat {
  margin-block-end: 10px;
}
.question-section-advice {
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-end: 80px;
  margin: 0 20px;
}
.question-section-advice-title {
  font-weight: 400;
}
.question-section-answer-advice {
  display: grid;
  gap: 20px;
}
.question-text-advice {
  padding-block-start: 10px;
  font-size: var(--font-size);
  color: var(--text-color);
}
.question-section-image {
  padding-block-end: 60px;
}
.question-section-title-image {
  margin: 0 20px 20px 20px;
}
.question-container-image {
  margin: 0 20px;
  display: grid;
  gap: 20px;
  grid-template-areas: inherit;
}
.image-item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}
.image-item:first-of-type {
  grid-column: 1 / 3;
}
.image-item:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
.image-item:nth-of-type(3) {
  grid-row: 2 / 4;
}
.image-item:nth-of-type(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.image-item:last-of-type {
  grid-column: 2 / 4;
}
.footer {
  min-block-size: 100vh;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}

/*768px*/

@media (max-width: 768px) {
  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
  }
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
  }
  .header__text {
    max-inline-size: 364px;
    max-block-size: 117px;
  }
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .section-of-question-dofamin {
    grid-template-columns: 33% 67%;
    gap: 20px;
    padding-inline-end: 20px;
  }
  .question-container-eat {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block-start: 20px;
  }
  .question-section-title-eat {
    max-inline-size: 236px;
  }
  .question-section-advice {
    display: grid;
    grid-template-columns: 35% 65%;
    padding-block-end: 80px;
  }
  .footer {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
}

/*375px*/

@media (max-width: 375px) {
  .header {
    padding: 10px;
  }
  .header__title {
    margin-left: 0px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  .header__text {
    max-inline-size: 355px;
    max-block-size: 117px;
  }
  .section-of-question-dofamin {
    margin: 0px 10px;
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .question-section-eat {
    margin: 0 10px;
    padding-block-start: 50px;
    padding-inline-end: 0;
    padding-block-end: 50px;
  }
  .question-section-title-eat {
    min-inline-size: 355px;
  }
  .question-container-eat {
    display: flex;
    flex-direction: column;
  }
  .question-section-advice {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block-end: 50px;
  }
  .question-section-image {
    padding: 0 0 40px 0;
  }
  .question-section-title-image {
    margin: 0 10px 10px 10px;
  }
  .question-container-image {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 10px;
  }
  .footer {
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  .decorative__element {
    margin: 10px;
  }
  .frame::before {
    margin: 10px;
  }
  .frame::after {
    block-size: 25px;
    margin: 10px;
  }
}
