:root {
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --subject-text-color: #000028;
  --accent-color: #ff0070;
  --font: 'IBM Plex mono';
  --font-size: 18px;
  --button-color:#ff0070;
  --background-image: url(../images/cover-image-dark.png);
}