:root {
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --subject-text-color: #000028;
  --accent-color: #ff0070;
  --font: "IBM Plex mono", monospace;
  --font-size: 18px;
  --button-color: #ff0070;
}
